body {
    width:100%;
    background-color: rgb(239, 239, 248);
    font-family: ff-clan-web-pro, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#app_wrapper {
    width: 35%; 
    height: auto;   
    margin: auto;    
    padding: 4%;
}

.Logo {
    width: 15%;
    display: flex;
    background-color:rgb(10, 10, 10);
    color: #ffffff;
    text-align: center;
    padding: 28px; 
    font-weight: bold;
    font-size: 18px;
    margin: auto;
}

#heading {    
    text-align: center; 
    display: block;   
    font-weight: 900px;
    font-size:36px;
    padding: 1%;
    margin-top: 2%;
}

#slogan {
    text-align: center;
    padding: 2%;
    font-size: 20px;
    font-weight: 300px;
}

.main_content {
    display: flex;
    
}

.form_content {
    width: 100%;
    display: flex;      
    padding-bottom: 1%;
}

.phone_container {
    width: 100%;    
    flex-direction: column;
    display: flex;
   
}
.code {
    display: flex;
}

.field {
    width: 50%;
    margin: auto;    
    padding-right: 1%;
}

.label {
    padding: 2%;
    
}
.inputfield {
    width: 95%;
    padding-top: 4%;    
    padding-left: 3%;
}

input {
    width: 96%;
    display: flex;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 3%;
   
}

a {
    color: #11939a;
    text-decoration: none;
}

.promotion {
    text-align: left;
    padding-top: 5%;
    padding-bottom: 5%;    
    padding-right: 5%;
   
}

button {
    width: 100%;
    text-align: left;
    color: #ffffff;
    background-color:  #11939a;
    padding-left: 5%;
    padding-top: 3%;
    text-transform: uppercase;
    padding-bottom: 3%;    
    font-weight: bold;
    font-size: 100%;
    border-style: solid;
   
}




.footer{
    font-size: 80%;
    padding-top: 3%;
}




@media only screen and (max-width: 600px) {
    body{
        width:100%;
        margin-left: -27px;
        padding: 25px 5px;
        top: 12px;
        
    }
    .Logo {
    background-color: rgb(10, 10, 10);
    color: #ffffff;
    text-align: center;
    padding: 28px;
    font-weight: bold;
    font-size: 18px;
    }
}

@media screen and (min-width: 800px) {
    body {
        background-color: lavender;
    }
}


