body {
    margin:0;    
    font-family: ff-clan-web-pro, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#app_wrapper{     
    min-width:100%; 
    min-height:100%;   
    background-color:#f8f8f9;   
    position:absolute;    
    display:flex;    
    margin:auto;
    

}
.app_heder{

    background-size: 60px 60px;    
    z-index: 1;
    height: 42px;
    margin-left: -20px;
}


 
.logo
{
    background-color: #000000;
    color: #ffffff;
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 15px;    
    width:5%;    
    position: absolute;
    top: 24px;
    left:50%;
    padding: 40px 15px;
    margin-left: -46px;
}
#app_content{
width: 600px;
margin:180px auto 40px;


}
.heading{
    font-weight: 400;
    font-size: 32px;
    line-height: 250%; 
    display:block;
    text-align: center;
    
}
.slogan{
    font-weight: 350;
    font-size: 20px;
    text-align: center;
}
.field_container{
    display:block;
    width:100%;
}
.field{
    display: inline-block;    
    padding: 3px 4px;
    overflow: hidden;
    max-height: 100px;    
    width: 48%;
     
    
}


.label{
    display: block;
    line-height: 24px;
    font-weight: 500;
    font-size: 12px;
    text-align: left;
    margin-bottom: 4px;

}

.inputfield{
    border-radius: 0px;
    border-color: #e5e5e4;
    border-style: solid;
    border-width: 1px;
    padding: 8px 18px;
    background: #ffffff;
    height: 35px;
    color: #000000;
    font-size: 16px;
    width: 98%;
    padding: 2% 4%;
        
   
    
}
.label2{    
        display: block;
        line-height: 24px;
        font-weight: 500;
        font-size: 12px;
        text-align: left;
        margin-bottom: 4px;
    
}
.inputfield2{
    border-radius: 0px;
    border-color: #e5e5e4;
    border-style: solid;
    border-width: 1px;
    padding: 8px 18px;
    background: #ffffff;    
    color: #000000;
    font-size: 16px;
    width: 94%;
    
}

.phone_number{
    overflow: hidden;
    padding: 3px 0px;
    max-height: 100px;
    
    
}

.container_country_code{
    border-color: #e5e5e4;
    border-style: solid;
    border-width: 1px;
    overflow: hidden;
    align-items: center;
    background: #ffffff;
    height: 52px;
    box-sizing: border-box;
    color: #000000;
    font-size: 16px;
    width: 100%;
}
.countryCode{
    border: none;
    line-height: 24px;
    font-size: 14px;    
    width: 10%;
}
select {
    border-radius: 0px;
    border-color: rgb(169, 169, 169);
}




input, textarea, select, button {
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0em;
    font: 400 13.3333px Arial;
}
.input_phone_number{
    border-color: #e5e5e4;
    border-style: solid;
    border-width: 1px;
    padding: 8px 18px;
    background: #ffffff;
    height: 52px;
    box-sizing: border-box;
    color: #000000;
    font-size: 16px;
    width: 89%;
}
.button{
    padding: 15px 26px;
    text-transform: uppercase;
    border-radius: 0px;
    border-color: #11939a;
    border-style: solid;
    border-width: 2px;
    text-align: left;
    position: relative;
    background: #11939a;
    box-sizing: border-box;
    color: #ffffff;
    display: inline-block;
    line-height: 18px;
    font-weight: bold;
    width: 100%;
    margin-top:10px;
}
.footer {
    font-size: 80%;
    padding-top: 3%;
}