body {
    display: block;
    margin: 8px;
    font-family: ff-clan-web-pro, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#app_wrapper{ 
    min-width:100%; 
    min-height:100%;   
    background-color:#f8f8f9;   
    position:absolute;
    text-align: center;
    display:flex;    
    top:0;    
    bottom: 0;
    left:0;
    right:0;

}

.logo
{
    width:69px;
margin:40px 15px;
position: absolute;
top: 24px;
left:50%;
padding: 40px 15px;
margin-left: -46px;


}
#app_content{
width: 600px;
margin:180px auto 40px;


}
.heading{
    font-weight: 400;
    font-size: 32px;
    line-height: 250%; 
    display:block;
    
}
.slogan{
    font-weight: 350;
    font-size: 20px;
}
.container_label{
    display: inline;
}
.field1{
    display: block;
    width: 49%;
    margin-right: 1%;
    padding-top: 3px 0px;
    overflow: hidden;
    max-height: 100px;
    float:left;
}

.field2{
    display: block;
    width: 49%;
    margin-left: 1%;
    padding-top: 3px 0px;
    overflow: hidden;
    max-height: 100px;
    float: right;
    
}
.label{
    display: block;
    line-height: 24px;
    font-weight: 500;
    font-size: 12px;
    margin-bottom: 4px;

}
.inputfield{
    border-radius: 0px;
    border-color: #e5e5e4;
    border-style: solid;
    border-width: 1px;
    padding: 8px 18px;
    background: #ffffff;
    height: 52px;
    color: #000000;
    font-size: 16px;
    
}